* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Koulen', cursive;
}

.container   {
    width: 100%;
}

img {
    max-width: 100%;
}

.img-bg {
    display :none;
}

.img-sm {
    display: block;
}

@media(min-width:  498px) {
    .img-bg {
        display :block;
    }
    
    .img-sm {
        display: none;
    }
}
@keyframes Animacao{
    0% {opacity: 0; margin-right:-500px}
    100%{opacity: 1;margin-right:0;margin-top:0}
}
.titulo{
    animation-name: Animacao;
    animation-duration: 3.5s;
    text-align: center;
    font-size: 60px;
}
.red-font{color:red;display: inline-block;}