* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body {
    width: 5000px;
}

header {
    overflow: hidden;
    position: fixed;
    width: 100%;
    padding-top: 17px; 
    min-height: 10px;
    text-align: center;
    z-index: -1;
    background-image:linear-gradient(to right, rgb(147, 248, 248), rgb(89, 238, 243));
}

header h1 {
    font-size: 1.9em;
    color: rgb(232, 54, 54);
}


/*-----------------------nav ----------------------------------- */

nav .logo {
    float: left;
    display: block;
    padding: 14px 16px;
}

nav a{
    color:white;
    float: right;
    display: block;
    padding: 14px ;
    text-decoration: none;
    text-align: center;
    border-radius: 13px;
    font-size: 1.2em;
}


nav a:hover {
    transition: .5s;
    background-color: #e4e4e4;
    color: #333;
}


.img {
    min-height: 10px;
    width:50%;
}  



/* width: 198vh;
overflow: hidden;
height: 34vh;
margin-top: 140px;
margin-left: 3px; */
@media(min-width:  498px) {
    .img-bg {
        display :block;
    }
    
    .img-sm {
        display: none;
    }
}
@keyframes Animacao{
    0% {opacity: 0; margin-right:-500px}
    100%{opacity: 1;margin-right:0;margin-top:0}
}
.titulo{
    animation-name: Animacao;
    animation-duration: 3.5s;
    text-align: center;
    font-size: 50px;
    color: aliceblue;
}
.red-font{color:red;display: inline-block;}
.letra-titulo{
    font-size: 60px;
    display: inline;margin-left: -7px;
}